.modulo {
    
}
#about {
    padding-top: 2vh;
    background-image: linear-gradient(-45deg, #eedc40 , #eedc82);
    height: 100vh;
}

hr {
    border: 3px solid grey;
    border-radius: 10px;
    box-shadow: 3px 2px #333333;
}

#logo_about {
    border-radius: 5px;
    font-size: 15px;
    background-color: grey;
    font-weight: 900;
    font-family: "Press Start 2P";
    font-style: italic;
    box-shadow: 5px 3px #333333;
    text-shadow: 1px 1px #706c61;
}
#about_body {
    margin-top: 2vh;
    float: left;
    width: 70vw;
    height: 80vh;
    margin-left: 1vw;
    background-color: grey;
    box-shadow: 6px 6px #333333;
    border-radius: 5px;
    font-family: "Press Start 2p";
}
#mapa_about {
    margin-top: 2vh;
    float: right;
    width: 25vw;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 6px 6px darkolivegreen;
    margin-bottom: 2vh;
}

#encuentranos_texto {
    font-family: "Press Start 2p";
    font-size: xx-large;
    text-decoration: 5px underline;
    text-decoration-line: underline;
    text-shadow: 2px 2px lightslategray;
    text-align: center;
    float: right;
    font-display: underline;
    
    padding-top: 1vh;
}