.modulo {
    
}

body {
    background-color: #eedc40;
}

#about, #tarifas {
    padding-top: 5%;
    background-image: linear-gradient(-45deg, #eedc40 , #eedc82);
    height: 100%;
}

#team, #contacto{
    padding-top: 5%;
    background-image: linear-gradient(-45deg, #eedc40 , #eedc82);
    height: 100%;
}

hr {
    border: 8px double black;
    background-color: white;
    box-shadow: 3px 2px black;
}

#logo_about {
    color: black;
    font-size: 15px;
    background-color: white;
    font-weight: 900;
    font-family: "Press Start 2P";
    font-style: italic;
    box-shadow: 5px 3px black;
    text-shadow: 1px 1px #706c61;
    border: double 8px black;
}
#about_body {
    margin-top: 2vh;
    color: black;
    float: left;
    width: 70vw;
    height: 80vh;
    margin-left: 1vw;
    background-color: white;
    border: double 8px black;
    box-shadow: 6px 6px black;
    font-family: "Press Start 2p";
}
#mapa_about {
    margin-top: 2vh;
    float: right;
    /*width: 25vw;
    height: 70vh;*/
    box-shadow: 8px 8px black;
    margin-bottom: 2vh;
}
#mapa_about img {
    border: double 8px black;
}

#encuentranos_texto {
    font-family: "Press Start 2p";
    font-size: xx-large;
    text-decoration: 5px underline;
    text-decoration-line: underline;
    text-shadow: 2px 2px rgb(255, 255, 255);
    text-align: center;
    color: black;
    float: right;
    font-display: underline;
    
}
#about_head_row {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2em;
}
.about_text_container {
    border: solid black;
    padding: 0.2em;
    margin: 0.4em;
    padding-top: 1em;
}
#oferta_ventana {
    height: auto;
    width: 60vw;
    background-color: white;
    font-family: "Press Start 2P";
    position: absolute;
    text-align: center;
    padding: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: double 8px black;
}
.oferta_titulo {
    color: white;
    background-color: black;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    font-size: 35px;
}
.oferta_descripcion {
    font-size: 15px;
    margin-top: 1em;
}
.oferta_boton {
    margin-top: 2em;
    color: black;
}
.oferta_boton_texto {
    border: solid 4px black;
    padding: 1em;
    color: black;
    cursor: pointer;
}
#boton_oferta_1:hover {
    background-color: black;
    color: white;
}
#boton_oferta_2:hover{
    background-color: black;
    color: white;
}
.oferta_boton_texto:checked #oferta_ventana{
    visibility: hidden;

}

/*=============ESTILOS TARIFA===============*/
.caja_arcade{
    background-color: white;
    color: black;
    font-family: "Press Start 2P";
    box-shadow: 5px 5px black;
    border: double 8px black;
}
.titulo_tarifas{
    margin: 0 auto;
    padding: 15px;
    font-size: 2vw;
}
/*.margen_columnas{
    margin-right: 4vw; margin-left: 4vw;
}*/
.carta_precio{
    margin: 0 15px;
    transition: transform 0.1s;
}
.carta_precio:hover{
    transform:translateY(-10px);
}
.carta_precio p{
    margin: 15px;
}
/*==================ENTRENADORES====================*/

.titulo_team {
    margin: 0 auto;
    padding: 15px;
    font-size: 2vw;
}

.final_team {
    margin: auto;
    padding: 15px;
    font-size: 2vw;
}

.texto_team {
    margin: 15px;
    text-align: justify;
}

.img_team {
    float: left;
    width: 200px;
    height: 200px;
    margin-left:  auto;
    margin-right: auto;
}

.nombre_entrenador {
    float: right;
    margin-top: 15px;
    text-align: right;
}

.contenedor {
    perspective: 1000px;
    min-height: 250px;
}

.contenedor:hover .girar, .contenedor.hover .girar {
    transform: rotateY(180deg);
}

.girar {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.frente, .espalda {
    backface-visibility: hidden;
    position: absolute;
    padding: 15px;
    width: 100%;
}

.frente {
    z-index: 2;
    transform: rotateY(0deg);
}

.espalda {
    transform: rotateY(180deg);
    left: -15px;
}

.contenedor:hover .girar, .contenedor.hover .girar, .contenedor.flip .girar {
    transform: rotateY(180deg);
}

/*==================CONTACTO====================*/

.boton_enviar {
    margin: auto;
}

  @keyframes carruselfotos {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .carrusel {
    position: relative;
  }
  
  .carrusel > .fotocarrusel {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: carruselfotos 10s infinite;
    width: 40vh;
    background-color: white;
    color: black;
    box-shadow: 5px 5px black;
    border: double 8px black;
  }

  .fotocarrusel:nth-child(2) {
    animation-delay: 2s;
  }
  .fotocarrusel:nth-child(3) {
    animation-delay: 4s;
  }
  .fotocarrusel:nth-child(4) {
    animation-delay: 6s;
  }
  .fotocarrusel:nth-child(5) {
    animation-delay: 8s;
  }

  .formularioescribir, .formularioselect, .formulariotexarea{
    background-color: white;
    color: black;
    font-family: "Press Start 2P";
    box-shadow: 5px 5px black;
    border: double 8px black;
  }

  #cajaform{
    background-color: white;
    color: black;
    font-family: "Press Start 2P";
    box-shadow: 5px 5px black;
    border: double 8px black;
    padding-bottom: 20px;
  }

  textarea{
      resize: none;
  }

  .redes{
    background-color: white;
    color: black;
    font-family: "Press Start 2P";
    box-shadow: 5px 5px black;
    border: double 8px black;
  }

  #apartecontacto{
      margin:0 15px;
  }

  #hrform{
    border: 4px double black;
    background-color: white;
    box-shadow: 3px 2px black;
  }
  
  .enlaceredes{
      color: black;
  }

  /*==================MENÚ====================*/
  #home{
      position: fixed;
      z-index: 999;
  }

  html {
      scroll-behavior: smooth;
  }

   /*==================FOOTER====================*/
   .titulos_footer{
    color: white;
    font-family: "Press Start 2P";
    font-size: 14px;
   }

   .textofooter{
    color: white;
    font-family: "Press Start 2P";
    font-size: 10px; 
   }

   .enlacefooter{
    color: white;
}